[submodule "thirdparty/Catch2"]
	path = thirdparty/Catch2
	url = git@github.com:catchorg/Catch2.git
	branch = v3.7.1
[submodule "thirdparty/olcPixelGameEngine"]
	path = thirdparty/olcPixelGameEngine
	url = git@github.com:OneLoneCoder/olcPixelGameEngine.git
	branch = v2.28
[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = git@github.com:fmtlib/fmt.git
